<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %} {% endblock %}
	</head>
	<body>
		<header class="headerbar-container">
			<nav class="headerbar container">
				<a href="/blog" class="header-logo">Ertibus Blog</a>
				<div class="mp-r"> </div>
				<a href="/blog" class="header-item">Blog</a>
				<a href="/tags" class="header-item">Tags</a>
				<a href="/about" class="header-item">About</a>
				<a href="/blog" class="header-item">Contacts</a>
			</nav>
		</header>

		<div class="container">
			{% block content %} {% endblock %}
		</div>

		<div class="to-bottom"></div>
	</body>

</html>
