{% extends "base.html" %}
{% import "macros/page_item.html" as page_item %}
{% import "macros/head.html" as head %}

{% block head %}
	{{ head::head(title=section.title,desc=section.description) }}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-XVVJVKP3F1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-XVVJVKP3F1');
	</script>
{% endblock head %}

{% block content %}
<h1 class="title">
	Posts
</h1>
<ul class="post-list">
	{% for page in section.pages %}
	<li class="post-item">
		{{ page_item::page_in_list(page=page) }}
	</li>
	{% endfor %}
</ul>
{% endblock content %}
